# Distribution / packaging
__pycache__/
.Python
.env
google-drive-creds.json
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless

# Node
node_modules/

# notebooks
*.ipynb